<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vincode.simipa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ui.berita.DetailBeritaActvity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.berita.BeritaActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.presence.PresenceSeminarActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity android:name=".ui.presence.ResultPresenceActivity" />
        <activity android:name=".ui.presence.ScanPresenceActivity" />
        <activity
            android:name=".ui.achievement.AchievementActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.agenda.AgendaActivity"
            android:label="Agenda"
            android:parentActivityName=".ui.main.MainActivity"/>
        <activity
            android:name=".ui.schedule.PracticeScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.schedule.DetailLectureActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.recapitulation.RecapMenuActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.recapitulation.GuidanceRecapActivity"
            android:parentActivityName=".ui.recapitulation.RecapMenuActivity" />
        <activity
            android:name=".ui.schedule.LectureScheduleActivity"
            android:parentActivityName=".ui.schedule.ScheduleMenu" />
        <activity
            android:name=".ui.schedule.ClassScheduleActivity"
            android:parentActivityName=".ui.schedule.ScheduleMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.schedule.SeminarScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.schedule.ScheduleMenu"
            android:label="Menu Jadwal"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.schedule.CollegeScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.settings.SettingActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.recapitulation.ScoreRecapActivity"
            android:parentActivityName=".ui.recapitulation.RecapMenuActivity" />
        <activity
            android:name=".ui.beasiswa.BeasiswaActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.krs.KRSActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.calendar.AcademicCalendarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.guidance.DetailGuidanceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.guidance.GuidanceScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.intro.IntroSliderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.presence.PresenceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.profil.ProfilActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.service.ServiceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.study_progress.StudyProgressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.study_progress.DetailMatkulActivity"
            android:parentActivityName=".ui.study_progress.StudyProgressActivity" />
        <activity
            android:name=".ui.recapitulation.PresenceRecapActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.recapitulation.SeminarRecapActivity"
            android:parentActivityName=".ui.main.MainActivity" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>