<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vincode.simipa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ui.schedule.SeminarScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.schedule.ScheduleMenu"
            android:label="Menu Jadwal" />
        <activity
            android:name=".ui.schedule.CollegeScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.settings.SettingActivity" />
        <activity android:name=".beasiswa.BeasiswaActivity" />
        <activity android:name=".krs.KRSActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.calendar.AcademicCalendarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.guidance.DetailGuidanceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.guidance.GuidanceScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.intro.IntroSliderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.presence.PresenceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.profil.ProfilActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.service.ServiceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.study_progress.StudyProgressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>